@{
    Layout = null;
}


<head>


    <title>Hakkımızda</title>
</head>
<div id="icerik">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <div class="jumbotron hakkimda">
                    <div class="avatar">
                        <img src="~/User/images/logoas.jpg" class="rounded">
                    </div>
                    <hr class="my2">

                    <div class="row">
                       



                        <div class="col-lg-5">

                            <h2 class="mt-0 mb-4">
                                Hakkımızda </h1>
                                <p>
                                    

                                    Biz, yemek tutkunlarını lezzetli yemeklerle buluşturan ve hareketli yaşamlarında pratik çözümler sunan bir fast food delivery şirketiyiz. Misyonumuz, her bir müşterimize damak zevkine uygun seçenekler sunarak, en sevilen yemekleri hızlı ve güvenilir bir şekilde kapılarına getirmektir.

                                    Anlaşmalı olduğumuz geniş ve çeşitli restoran ağıyla, müşterilerimize geniş bir yelpazede lezzet seçenekleri sunuyoruz. İster klasik fast food lezzetleri, ister yerel mutfağın gizli tatları olsun, herkesin damak zevkine uygun bir seçenek bulmasını sağlıyoruz. Restoranlarımızla kurduğumuz sıkı iş birlikleri sayesinde, taze malzemelerle hazırlanan yemeklerin sıcaklığını ve lezzetini müşterilerimize ulaştırmak için özen gösteriyoruz.

                                    Aynı zamanda, kurye alımı yaparak istihdam yaratma misyonunu da taşıyoruz. Genç, dinamik ve yemek tutkunu kuryelerimiz, müşterilerimize sadece lezzetli yemekleri değil, aynı zamanda güleryüzlü hizmeti de sunuyorlar. Kuryelerimizin hızlı ve güvenli teslimatları sayesinde, müşterilerimizin yemek deneyimi sorunsuz ve keyifli oluyor.

                                    Teknolojiyi işimizin merkezine yerleştirerek, kullanıcı dostu bir platform ile müşterilerimizin kolayca sipariş verebilmesini sağlıyoruz. Mobil uygulamamız ve internet sitemiz aracılığıyla, menülerimize göz atabilir, siparişlerinizi özelleştirebilir ve takip edebilirsiniz. Aynı şekilde, kuryelerimizin de son konumunu takip edebilme imkanı sunarak, teslimat sürecini şeffaf hale getiriyoruz.

                                    Biz, yemek sevgisini ve pratik çözümleri bir araya getiren bir ekibiz. Müşterilerimize kaliteli yemekler sunarken, kurye ekibimizle istihdama katkıda bulunuyor ve hızlı yaşam temposuna uygun çözümler sunuyoruz. Misyonumuz, her zaman en iyi hizmeti sunmak ve müşterilerimizin yüzünde gülümseme yaratmaktır. Siz de bu lezzetli yolculuğa katılın!

                                </p>

                                <p>Saygılarımızla,</p>



                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

